@media screen and (max-width: 1200px) {

  .section-directions {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  
  .section-directions {
    padding-top: 0;
  }

  .directions-list {
    display: flex;
    gap: 30px;

    .directions-list__item {
      position: relative;
      width: calc((100% - 30px*2)/3);
    }
  }

  .direction-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-white);
    background-color: rgba(47, 48, 58, 0.8);

    position: absolute;
    left: 0;
    bottom: 0;
  }
}