.team-section {
  background: #F5F4FA;
}

.team-list__item {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  margin-bottom: 30px;
}

.team-member-img {
  width: 100%;
  margin-bottom: 30px;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.team-member-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.social-links-list {
  display: flex;
  width: 206px;
  height: 44px;
  margin: 0 auto 30px;
  justify-content: space-between;
  gap: 10px;
}

.social-links-list__item-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--primery-text-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  &:hover .social-links-list__item-icon,
  &:focus .social-links-list__item-icon {
    fill: var(--text-color-white);
  }
}

.social-links-list__item-icon {
  fill: #AFB1B8;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

@media screen and (min-width: 768px) {
  
.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
      width: calc((100% - 30px)/2);
    }

    &__item:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  
  .team-list {
    display: flex;
   }

  .team-list__item {
    width: calc((100% - 30px*3)/4);
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}