.values-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.values-list__icon-box {
  display: flex;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.value-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
  text-align: center;
}

.value-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

@media screen and (min-width: 768px) {

  .values-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  
      &__item {
        width: calc((100% - 30px)/2);
      }
  }

  .value-name {
    text-align: left;
  }

  .values-list__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  
  .values-list {
    display: flex;
    justify-content: space-between;

    &__item {
      width: calc((100% - 30px*3)/4);
      margin-right: 30px;
    }

    &__item:last-child {
      margin-right: 0;
    }
  }

  .values-list__item:nth-child(-n+3) {
    margin-bottom: 0;
  }

  .value-name {
   text-align: left;
  }
}