@media screen and (max-width: 768px) {

  .mobile-menu {
    // display: flex;
    // flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    width: 100vw;
    height: 100vh;
    background-color: bisque;

    &-close-button {
      padding-left: 0;
      padding-right: 0;
      border: none;
      background-color: transparent;
      position: absolute;
      height: 40px;
      top: 10px;
      right: 15px;

      &__icon {
        width: 40px;
        height: 40px;
        
        &:hover {
          fill: var(--accent-color);
        }
      }
    }
  }

  .mobile-menu__conteiner {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .mobile-menu-navigation {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 48px;
    gap: 32px;

    &__link {
      font-weight: 500;
      font-size: 40px;
      line-height: 1.18;
      letter-spacing: 0.02em;
      color: #212121;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
      &:hover, &:focus {
        color: var(--accent-color);
      }
    }
  }

  .mobile-menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: auto;
    margin-left: 25px;
    margin-bottom: 64px;

      &__phone {
      font-weight: 500;
      font-size: 34px;
      line-height: 40px;    
      letter-spacing: 0.02em;
      color: var(--accent-color);
    }

    &__mail {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      color: var(--primery-text-color);
    }
  }

  .mobile-menu-socisl-link-list {
    display: flex;
    margin-left: 25px;
    margin-bottom: 48px;
    
    &__item {
      padding: 0 10px;
    }

    &__item:first-child {
      padding-left: 0;
    }

    &__item:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }

  .mobile-menu__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  }

  @media screen and (min-width: 768px) {
    .mobile-menu {
      display: none;
    }
}